[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[user]
    name = Tomi Rantanen
    email = tomirantanen@users.noreply.github.com

# Uncomment to include other config files
#[includeIf "gitdir:~/git/other"]
#    path = ~/.gitconfig.other
